* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: red;
}

button {
  color: rgb(171, 160, 160);
  background-color: black;
  border: 2px solid rgb(117, 104, 104);
  border-radius: 10px;
  padding: 20px 40px;
  cursor: pointer;
  font-size: large;
  margin: 40vh 100vh;
}
